/* src/scss/_variables.scss */

/* Palette */
$color-bg: #EFECE3;;         // The whole background
$color-surface: #ffffff;    // Card background
$color-text: #223741;       // Normal text, logo, buttons
$color-primary: #223741;    // Buttons, important elements
$color-primary-text: #d2e6e3;  // Text on dark buttons
$color-accent: #e6a540;     // Logo detail, discount, highlights

/* Frames/Shades */
$color-border-soft: rgba(0, 0, 0, 0.08);

/* Radius / spacing */
$radius-md: 0.75rem;
$radius-lg: 1rem;

/* Form for hoofs */
$color-primary-hover: lighten($color-primary, 10%);
$color-accent-hover: darken($color-accent, 5%);
