/* src/scss/_variables.scss */

/* Palett */
$color-bg: #EFECE3;;         // Hele bakgrunnen
$color-surface: #ffffff;    // Kort-bakgrunn
$color-text: #223741;       // Normal tekst, logo, knapper
$color-primary: #223741;    // Knapper, viktige elementer
$color-primary-text: #d2e6e3;  // Tekst på mørke knapper
$color-accent: #e6a540;     // Logo detalj, rabatt, highlights

/* Rammer/skygges */
$color-border-soft: rgba(0, 0, 0, 0.08);

/* Radius / spacing */
$radius-md: 0.75rem;
$radius-lg: 1rem;

/* Skjema for hover */
$color-primary-hover: lighten($color-primary, 10%);
$color-accent-hover: darken($color-accent, 5%);
